<!DOCTYPE html>
<html>
  <head>
    <title>ShopStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <script src="https://js.stripe.com/v3/"></script> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Products", root_path %>
    <% if current_user %>
      <%= link_to current_user.email, root_path %>
      <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <hr>
    <%= yield %>
    <% if @cart.present? %>
      <hr>
      <h1>Shopping cart</h1>
      <p>Items: <%= @cart.size %></p>
      <div class="cart">
        <% @cart.each do |cart_item| %>
          <div class="row">
            <br>
            <%= cart_item.name %>
            <%= button_to "Remove from cart", remove_from_cart_path(cart_item), method: :delete %>
          </div>
        <% end %>
        <br></br>
      <%= button_to "Buy Now!", new_checkout_path, method: :get, params: {cart: @cart}, data: { disable_with: 'Validating...' } %>
      </div>
    <% end %>
  </body>
</html>
